*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(blue\ bg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;

}

.container{
    position: relative;
    background-image: url(bg\ img.jfif);
    padding: 25px;
    background-size: cover;
    width: 100%;
    border-radius: 28px;
    max-width: 380px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

header,
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 48px;
    margin-right: 10px;
}

h5{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

header .chip{
    width: 60px;
}

h6{
    color: #fff;
    font-size: 10px;
    font-weight: 400;
}

h5.number{
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name{
    margin-top: 20px;
}

.container .card-details{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}